<ion-header>
    <ion-navbar color="header">
    <ion-buttons end>
      <button style="background-color:transparent" end (click)="openMenu()" class="menu">
        <!-- <ion-icon style="font-size: 2.2em" color="loginButton" name="menu"></ion-icon> -->
      <img [src]="hamburger" height="30px" width="30px" />
      </button>
      </ion-buttons>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding no-bounce>
  <ion-grid>
  <ion-row>
    <ion-col col-8 style="text-align:left">
    <p style="color:white">Available Coupons: {{couponCounts}}</p>
    </ion-col>
    <ion-col *ngIf="shareIcon==true" (click)="shareCoupon()" col-3 style="text-align:right">
    <p style="color:white">Share</p>
    </ion-col>
    <ion-col *ngIf="shareIcon==true" (click)="shareCoupon()" col-1>
    <img [src]="share" style="margin-top:55%" height="25px" width="25px" />
    </ion-col>
  </ion-row>
  <ion-card *ngFor="let s of specificCoupons" style="background-image: url(./assets/couponsImages/coupons-BG.svg) !important;background-size: 100% 100%;">
    <ion-row>
    <ion-col col-4>
    <p class="couponNumber">{{s.DCOUPN}}</p>
    </ion-col>
    <ion-col col-6>
    <p class="couponDesignation">{{s.CTYP}}</p>
    </ion-col>
    <ion-col col-2>
      <ion-item>
        <ion-checkbox (click)="shareMe(s)" [(ngModel)]="s.checked"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-card>

  <ion-card *ngIf="shareWhatsapp==true" class="shareCard">
    <ion-row>
      <ion-col col-12 class="shareVia">
          <p>Share Via</p>
      </ion-col>
      <ion-col col-4 (click)="gmail()">
        <ion-icon style="font-size: 2.2em" color="googlePlus" name="logo-googleplus"></ion-icon>
        <p>Email</p>
      </ion-col>
      <ion-col col-4 (click)="whatsapp()">
        <ion-icon style="font-size: 2.2em" color="whatsapp" name="logo-whatsapp"></ion-icon>
        <p>Whatsapp</p>
      </ion-col>
      <ion-col col-4 (click)="sms()">
        <ion-icon style="font-size: 2.2em" color="sms" name="ios-text"></ion-icon>
        <p>SMS</p>
      </ion-col>
      <ion-col col-12 class="cancel">
        <p (click)="cancel()">Cancel</p>
      </ion-col>
    </ion-row>
  </ion-card>

  </ion-grid>
</ion-content>


<ion-footer style="height:3.5em; text-align: center; background-color:#135c6d ">
    <img (click)="home()" style="margin-top:2%" [src]="homeIcon" height="35px" width="35px" />
</ion-footer>