page-share-coupons {

    .toolbar-background {
        background: transparent !important;
    }
    .back-button {
        color: white !important;
    }
    .toolbar-title{
        color: white !important;
        font-size: 1.4rem !important;
    }
    .toolbar-content{
        text-align: center;
    }
    .header::after{
        background-image: unset !important;
    }

    ion-content {
        background: url(../assets/homePageIcons/BG.svg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    
        .scroll-content{
            padding: 0px !important;
        }

        .col {
            text-align: center;
        }

        ion-card {
            background-color: transparent !important;
            box-shadow: unset !important; 
            ion-row {
                top: 0%;
                width: 100%;
            
            .couponNumber {
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
            }
            .couponDesignation {
                font-size: 1.3rem;
                font-weight: normal;
                bottom: 3px;
                position: absolute;
                color:white;
            }
            .item{
                width: 80%;
                padding-left: 8px;
                background-color: transparent;
            }
            .checkbox-icon {
                border-radius: 50% !important;
                position: relative !important;
                width: 20px !important;
                height: 20px !important;
                border-color: white !important;
                background-color: transparent !important; 
                border-width: 1px !important;  
            }
            .checkbox-checked .checkbox-inner {
                left: 6px !important;
                top: 1px !important;
                width: 7px !important;
                height: 14px !important;
            }
           .col {
            background-color: transparent;
             }
            [col-2] {
                padding: 7px !important;
            }
        }
    }

    .shareCard {
        bottom: 8%;
        left: 0px;
        position: fixed;
        background-color: white !important;
        border-radius: 20px !important;
        .col {
            background-color: white;
            }
        .shareVia{
            p{
                color: lightgray;
            }
        }
        .cancel{
            border-top: 2px solid #115a6a;
            p{
                color: black;
            }
        }
    }
}


}