page-all-leaves {

    
    .toolbar-background {
        background: transparent !important;
    }
    .back-button {
        color: white !important;
    }
    .toolbar-title{
        color: white !important;
        font-size: 1.4rem !important;
    }
    .toolbar-content{
        text-align: center;
    }
    .header::after{
        background-image: unset !important;
    }
    
    ion-content{
        background: url(../assets/homePageIcons/BG.svg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    
        .scroll-content{
            padding: 0px !important;
        }
    ion-grid {
        padding: 0px 30px 30px 30px !important;
    }
    ion-row {
        border-bottom: 1px solid #0a3946;
    }
    .list {
        margin: 0px;
    }
    p {
        color:white;
    }
    ion-textarea{
        background-color: #194e5e;
        border-radius: 5px;
        padding: 10px;
    }

    .confirm {
        text-align: -webkit-center;
        border: 1px solid white !important;
        text-transform: capitalize;
        border-radius: 50%;
        background-color: #0a3946;
        height: 38%;
        width: 18%;
    }

}
}