<ion-content padding>
  <ion-grid>
        
    <ion-row>
        <!-- <img src="./assets/icon/logo.png" class="logo"/> -->
        <img src="./assets/icon/logo.png" class="logo"/>
      <ion-col col-12>
        <ion-list no-lines>
          <form [formGroup]="data">
          <ion-item class="employeeid">
            <ion-icon class="iconPerson" color="skein_icon" item-right name="ios-card-outline"></ion-icon>
            <ion-input type="text" (ionChange)="skein($event)" autocapitalize="characters" formControlName="skein_id" placeholder="Employee ID"></ion-input>
          </ion-item>
          <p class="restriction" *ngIf="!data.controls.skein_id.valid && (data.controls.skein_id.dirty || submitAtttempt)"><span>* </span>should be a valid 'ID'</p>      
          <ion-item class="password">
              <ion-icon (click)="viewPassword()" class="iconPassword" color="skein_icon" item-right name="{{viewIcon}}"></ion-icon>
              <ion-input type="{{type}}" formControlName="password" placeholder="Password" maxlength="12"></ion-input>
          </ion-item>
          <p class="restriction" *ngIf="!data.controls.password.valid && (data.controls.password.dirty || submitAtttempt)"><span>* </span>should be a valid password</p> 

          <button [disabled]="!data.valid" (click)="home()" ion-button full>Sign in</button>
          </form>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
