<ion-content padding>
  <ion-grid>
        
    <ion-row>
        <img src="./assets/icon/logo.png" class="logo"/>
      <ion-col col-12>
        <ion-list no-lines>
          <!-- <form [formGroup]="data"> -->
          <ion-item class="employee_id">
            <ion-icon color="light" class="iconPerson" item-left name="ios-card-outline"></ion-icon>
            <ion-input [(ngModel)]="employee_id" type="text" autocapitalize="characters"  placeholder="Employee Id"></ion-input>
          </ion-item>
          <!-- <p class="restriction" *ngIf="!data.controls.employee_id.valid && (data.controls.employee_id.dirty || submitAtttempt)"><span>* </span>should be a valid 'ID'</p>       -->
          <ion-item class="password">
              <ion-icon color="light" (click)="viewPassword()" class="iconPassword" item-left name="ios-lock-outline"></ion-icon>
              <ion-input [(ngModel)]="password" type="password"  placeholder="Password" maxlength="20"></ion-input>
          </ion-item>
          <!-- <p class="restriction" *ngIf="!data.controls.password.valid && (data.controls.password.dirty || submitAtttempt)"><span>* </span>password length must be valuable</p>  -->
          <button style="height: 4rem;border-radius:5px;margin-top:8%" class="signIn" color="loginButton" (click)="invokeAdapter()" ion-button full>LOGIN</button>
          <ion-row>
          <ion-col class="rememberMeCol" col-8>
          <ion-item class="rememberMeItem">
            <ion-label>Remember me</ion-label>
            <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
          </ion-item>
          </ion-col>
          <ion-col class="needHelp" col-4>
            <p>Need help</p>
          </ion-col> 
          </ion-row>
          <!-- </form> -->
          <p style="text-align:center;color:grey;margin-top: 0px;">or</p>
          <button style="height: 4rem;border-radius:5px;text-transform: inherit;" color="googlePlus" (click)="google()" ion-button full>
          <ion-icon style="left: 7px;position:absolute;font-size:2rem" item-start color="light" class="iconPassword" item-left name="logo-googleplus"></ion-icon>
          <span>Sign in with Google</span></button>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
