page-my-request {

    .pendingStatus{
        color: #DB9131;
    }
    .approvedStatus{
        color: #2ED536;
    }
    .rejectStatus{
        color: #E54B4F; 
    }

    .displayNone{
        display: none;
    }

    .noresponce{
        text-align: center;
        display: block;
        padding: 5%;
        color: #fff;
    }


    .toolbar-background {
        background: transparent !important;
    }
    .back-button {
        color: white !important;
    }
    .toolbar-title{
        color: white !important;
        font-size: 1.4rem !important;
    }
    .toolbar-content{
        text-align: center;
    }
    .header::after{
        background-image: unset !important;
    }

    ion-content {
        background: url(../assets/homePageIcons/BG.svg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    
        .scroll-content{
            padding: 0px !important;

        }

        ion-grid{
            padding: 3% !important;
        }

        ion-row {
            background-color: #265865 !important;
            border-bottom: 2px solid #0d4655;
        }

        .accordionRow{
            background-color: transparent !important;
            .accordionColOne{
                text-align:-webkit-center;
                .status{
                    line-height: 0;
                    font-size: 0.6em;
                    font-weight: bolder;
                }

                .pendingStatus{
                    color: #DB9131;
                }
                .approvedStatus{
                    color: #2ED536;
                }
                .rejectStatus{
                    color: #E54B4F; 
                }
            }    
            .accordionColTwo {
                background-color: #265865;
                border-bottom: 1px solid #0d4655;
                color: #fff;
                .requestId{
                    display: block; 
                    padding: 1% 5%; 
                    color: #8fae5f;
                    span{
                        font-size: 0.8em;
                    }
                }
                .dateDetails{
                    display: block; 
                    padding: 1% 5%;
                    .fromDate{
                        padding: 0; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                    }
                    .till{
                        text-align: center; 
                        font-size: 0.9em; 
                        margin-left: 3%;
                    }
                    .toDate{
                        text-align: center; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                    }
                    .fromTime{
                        padding: 0; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                        color: #3cc6c4 !important;
                    }
                    .toTime{
                        text-align: center; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                        color: #3cc6c4 !important;
                    }
                    .fromIn{
                        padding: 0; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                        color: #3cc6c4 !important;
                    }
                    .toOut{
                        text-align: center; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                        color: #3cc6c4 !important;
                    }
                    .fromMidIn{
                        padding: 0; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                        color: #deb06b !important;
                    }
                    .toMidOut{
                        text-align: center; 
                        font-size: 0.9em; 
                        font-weight: bolder;
                        color: #deb06b !important;
                    }
                }
                .periodDetails{
                     display: block;
                     padding: 1% 5%;
                     color: rgb(141, 135, 103);
                    .fromPeriod{
                        padding: 0; 
                        font-size: 0.8em;
                        margin-left: 5%;
                    }
                    .till{
                        text-align: center; 
                        margin-left: 8%;
                    }
                    .toPeriod{
                        text-align: center; 
                        margin-left: 8%; 
                        font-size: 0.8em;
                    }
                }
                .timeDetails{
                    display: block;
                    padding: 1% 3%;
                    font-size: 0.7em;
                    font-weight: bolder;
                    .normalClr{
                        color: #38C1C1;
                    }
                    .changeClr{
                        color: #EDB366;
                    }
                }
                .appliedDetails{
                    display: block; 
                    padding: 1% 5%;
                    span{
                        font-size: 0.8em;
                    }
                }
                .statusMsg{
                    display: block; 
                    padding: 1% 5%;
                    span{
                        overflow: hidden;
                        display: inline-block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                        font-size: 0.8em;
                    }

                }
                .day{
                    font-size:1.2rem !important; 
                    line-height: 0 !important;
                }
                .time{
                    font-size:1.3rem !important;
                    letter-spacing: 1px !important; 
                    line-height: 1 !important;
                }
                .appliedOn{
                    font-size:1.2rem !important; 
                    line-height: 1 !important;
                }
                .appliedOnOD{
                    font-size:1.2rem !important; 
                    line-height: 0 !important;
                }
                .midTime{
                    font-size:1.3rem !important;
                    letter-spacing: 0px !important; 
                    line-height: 0 !important;
                }
            }
            .accordionColThree {
                background-color: #105366 !important;
                border-bottom: 1px solid #0d4655;
                .cancel{
                    ion-icon{
                        font-weight: bolder;
                        color: red;
                    }
                }
            }
            
        }

        .col {
            p{
                color: white;
            }
            .right{
                text-align: right !important;
                padding-right: 5%;
            }
        }

        .cancel {
            // background-color: red;
            height: 100%;
            ion-icon{
               color: white;
               font-size: 2em;
               margin-left: 25%;
               margin-top: 45%;
            } 
            p {
                font-size: 0.9rem;
                text-align: center;
            }
        }

        .couponCounts {
            text-align: center;
            font-size: 1.8rem;
            font-weight: normal;
            line-height: 1.5;
            background-color: #105366 !important;
            border: 2px solid #105366;
            border-radius: 50%;
            height: 45px;
            width: 45px;
            border: 1px solid white;
            z-index: 999;
            margin-top: 30%;
            p {
                border-radius: 50%;
                margin-top: 18%;
                color: #22d5a9 !important;
            }
        }
    }

    ion-footer {
        height:3.5em !important; 
        text-align: center !important; 
        background-color:#135c6d !important;
        img {
            margin-top:2% !important;
        }
      }

}
