<ion-header>
    <ion-navbar color="header">
      <ion-buttons end>
        <button style="background-color:transparent" end (click)="openMenu()" class="menu">
          <!-- <ion-icon style="font-size: 2.2em" color="loginButton" name="menu"></ion-icon> -->
          <img [src]="hamburger" height="30px" width="30px" />
        </button>
      </ion-buttons>
      <ion-title>MY REQUEST</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding no-bounce>

<ion-grid>
    <ion-row text-wrap (click)="toggleLeave()" [ngClass]="{active: isGroupLeave()}">
        <ion-col col-6><p>LEAVES</p></ion-col>
        <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
    </ion-row>
    <ion-row *ngIf="isGroupLeave()" class="accordionRow">
        <ion-col  (click)="cancelLeave()" class="accordionColOne" col-2>
        <div class="couponCounts">
          <p>PL</p>
        </div>
        <p class="status" style="color: #DB9131;">Pending</p>
        </ion-col>
        <ion-col (click)="cancelLeave()" class="accordionColTwo" col-8>

          <ion-col col-12 style="display: block; padding: 1% 5%; color: #8fae5f;">
            <span style="font-size: 0.8em;">Req Id: 123456</span>
          </ion-col>

          <ion-col col-12 style="display: block; padding: 1% 5%;">
            <ion-col col-5 style="padding: 0; font-size: 1em; font-weight: bolder;"><span >27-06-2018</span></ion-col>
            <ion-col col-2 style="text-align: center; font-size: 1em; margin-left: 3%;"><span>Till</span></ion-col>
            <ion-col col-5 style="text-align: center; font-size: 1em; font-weight: bolder;"><span >27-06-2018</span></ion-col>
          </ion-col>

          <ion-col col-12 style="display: block; padding: 1% 5%;color: rgb(141, 135, 103);">
              <ion-col col-5 col-5 style="padding: 0; font-size: 0.8em;margin-left: 8%;"><span >(fullday)</span></ion-col>
              <ion-col col-2 style="text-align: center; margin-left: 12%;"><span>-</span></ion-col>
              <ion-col col-5 style="text-align: center; margin-left: 10%; font-size: 0.8em;"><span >(fullday)</span></ion-col>
            </ion-col>

          <ion-col col-12 style="display: block; padding: 1% 5%;">
            <span style="font-size: 0.8em;">applied on: 24-06-2018</span>
          </ion-col>

        </ion-col>
        <ion-col col-2 class="accordionColThree">
            <div class="cancel" (click)="confirmCancelLeave()" *ngIf="cancelButtonLeave==true">
            <ion-icon name="ios-close-circle-outline"></ion-icon>
            <p>Cancel</p>
          </div>
        </ion-col>
    </ion-row>

      <ion-row (click)="toggleOD()" [ngClass]="{active: isGroupOD()}">
        <ion-col col-6><p>ON DUTY</p></ion-col>
        <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
      </ion-row>
      <ion-row *ngIf="isGroupOD()" class="accordionRow">
          <ion-col (click)="cancelOD()" class="accordionColOne" col-2>
          <div class="couponCounts">
            <p>OD</p>
          </div>
          <p class="status">Approved</p>
          </ion-col>
          <ion-col (click)="cancelOD()" class="accordionColTwo" col-8>
          <p class="requestId">Req Id: 123456</p>
          <p class="date">27-06-2018 <span style="letter-spacing:0">till</span> 27-06-2018</p>
          <p class="time">FROM - 09:30 TO - 06:30</p>
          <p class="appliedOnOD">Applied on: 24-06-2018</p>
          </ion-col>
          <ion-col col-2 class="accordionColThree">
              <div class="cancel" (click)="confirmCancelOD()" *ngIf="cancelButtonOD==true">
              <ion-icon name="ios-close-circle-outline"></ion-icon>
              <p>Cancel</p>
            </div>
          </ion-col>
      </ion-row>

      <ion-row (click)="toggleFTP()" [ngClass]="{active: isGroupFTP()}">
        <ion-col col-6><p>FORGOT TO PUNCH</p></ion-col>
        <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
      </ion-row>
      <ion-row *ngIf="isGroupFTP()" class="accordionRow">
          <ion-col (click)="cancelFTP()" class="accordionColOne" col-2>
          <div class="couponCounts">
            <p>FTP</p>
          </div>
          <p class="status">Approved</p>
          </ion-col>
          <ion-col (click)="cancelFTP()" class="accordionColTwo" col-8>
          <p class="requestId">Req Id: 123456</p>
          <p class="date">27-06-2018</p>
          <p class="time">IN - 09:30 OUT - 06:30</p>
          <p class="midTime">MID-IN - 09:30 MID-OUT - 06:30</p>
          <p class="appliedOn">Applied on: 24-06-2018</p>
          </ion-col>
          <ion-col col-2 class="accordionColThree">
              <div *ngIf="cancelButtonFTP==true" (click)="confirmCancelFTP()" class="cancel">
              <ion-icon name="ios-close-circle-outline"></ion-icon>
              <p>Cancel</p>
            </div>
          </ion-col>
      </ion-row>

</ion-grid>

</ion-content>

<ion-footer>
    <img [src]="homeIcon" height="35px" width="35px" />
</ion-footer>
