<ion-header>
    <ion-navbar color="header">
      <ion-buttons end>
        <button style="background-color:transparent" end (click)="openMenu()" class="menu">
          <!-- <ion-icon style="font-size: 2.2em" color="loginButton" name="menu"></ion-icon> -->
          <img [src]="hamburger" height="30px" width="30px" />
        </button>
      </ion-buttons>
      <ion-title>MY REQUEST</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding no-bounce>

<ion-grid>
    <ion-row text-wrap (click)="toggleLeave()" [ngClass]="{active: isGroupLeave()}">
        <ion-col col-6><p>LEAVES</p></ion-col>
        <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
    </ion-row>
    
    <div *ngIf="leaveRequestDataList.length > 0">
    <div *ngFor="let leaveItem of leaveRequestDataList">
      <ion-row *ngIf="isGroupLeave()" class="accordionRow">
          <ion-col class="accordionColOne" col-2>
          <div class="couponCounts">
            <p>{{leaveItem.LEAVE_TY}}</p>
          </div>
          <p class="status" [ngClass]="{'approvedStatus': getStatusRequest(leaveItem.STATUS) == 'Approved', 'rejectStatus': getStatusRequest(leaveItem.STATUS) == 'Rejected', 'pendingStatus': getStatusRequest(leaveItem.STATUS) == 'Pending'}">{{getStatusRequest(leaveItem.STATUS)}}</p>
          </ion-col>
          <ion-col (click)="cancelLeave(leaveItem.REQID)" class="accordionColTwo" col-8>

            <ion-col col-12 class="requestId">
              <span>Req Id: {{leaveItem.REQID}}</span>
            </ion-col>

            <ion-col col-12 class="dateDetails">
              <ion-col col-5 class="fromDate"><span >{{leaveItem.BEGDA | date :  "dd-MM-y"}}</span></ion-col>
              <ion-col col-2 class="till"><span>Till</span></ion-col>
              <ion-col col-5 class="toDate"><span >{{leaveItem.EDNDA | date :  "dd-MM-y"}}</span></ion-col>
            </ion-col>

            <ion-col col-12 class="periodDetails">
                <ion-col col-4 class="fromPeriod"><span >({{getPeriod(leaveItem.BEGUZ)}})</span></ion-col>
                <ion-col col-2 class="till"><span>-</span></ion-col>
                <ion-col col-4 class="toPeriod"><span >({{getPeriod(leaveItem.ENDUZ)}})</span></ion-col>
              </ion-col>

            <ion-col col-12 class="appliedDetails">
              <span >applied on: {{leaveItem.CREON | date :  "dd-MM-y"}}</span>
            </ion-col>

            <ion-col col-12 class="statusMsg" *ngIf="getStatusRequest(leaveItem.STATUS) != 'Approved'">
                <span [ngClass]="{'approvedStatus': getStatusRequest(leaveItem.STATUS) == 'Approved', 'rejectStatus': getStatusRequest(leaveItem.STATUS) == 'Rejected', 'pendingStatus': getStatusRequest(leaveItem.STATUS) == 'Pending'}">Status: {{getStatusRequestMsg(leaveItem.STATUS)}}</span>
              </ion-col>

          </ion-col>
          
          <ion-col col-2 class="accordionColThree" *ngIf="getStatusRequest(leaveItem.STATUS) == 'Pending'">
            <div class="cancel" (click)="confirmCancelLeave('P', leaveItem, leaveItem.LEAVE_TY)" id="{{leaveItem.REQID}}">
              <ion-icon name="ios-close-circle-outline"></ion-icon>
              <p>Click to <br>Cancel</p>
            </div>
          </ion-col>

        <ion-col col-2 class="accordionColThree" *ngIf="getStatusRequest(leaveItem.STATUS) == 'Approved' || getStatusRequest(leaveItem.STATUS) == 'Rejected'">
          <div class="cancel" (click)="confirmCancelLeave('A', leaveItem, leaveItem.LEAVE_TY)" id="{{leaveItem.REQID}}">
            <ion-icon name="ios-close-circle-outline"></ion-icon>
            <p>Click to <br>Delete</p>
          </div>
        </ion-col>

      </ion-row>
    </div></div>
    <ion-row *ngIf="isGroupLeave() && leaveRequestDataList.length == 0">
      <ion-col col-12>
        <span class="noresponce">No Request Available..</span>
      </ion-col>
    </ion-row>



    <ion-row text-wrap (click)="toggleOD()" [ngClass]="{active: isGroupOD()}">
        <ion-col col-6><p>ON DUTY</p></ion-col>
        <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
    </ion-row>

    <div *ngIf="odRequestDataList.length > 0">
    <div *ngFor="let leaveItem of odRequestDataList">
      <ion-row *ngIf="isGroupOD()" class="accordionRow">
          <ion-col class="accordionColOne" col-2>
          <div class="couponCounts">
            <p>OD</p>
          </div>
          <p class="status" [ngClass]="{'approvedStatus': getStatusRequest(leaveItem.STATUS) == 'Approved', 'rejectStatus': getStatusRequest(leaveItem.STATUS) == 'Rejected', 'pendingStatus': getStatusRequest(leaveItem.STATUS) == 'Pending'}">{{getStatusRequest(leaveItem.STATUS)}}</p>
          </ion-col>
          <ion-col (click)="cancelLeave(leaveItem.REQID)" class="accordionColTwo" col-8>

            <ion-col col-12 class="requestId">
              <span>Req Id: {{leaveItem.REQID}}</span>
            </ion-col>

            <ion-col col-12 class="dateDetails">
              <ion-col col-5 class="fromDate"><span >{{leaveItem.BEGDA | date :  "dd-MM-y"}}</span></ion-col>
              <ion-col col-2 class="till"><span>Till</span></ion-col>
              <ion-col col-5 class="toDate"><span >{{leaveItem.ENGDDA | date :  "dd-MM-y"}}</span></ion-col>
            </ion-col>

            <ion-col col-12 class="timeDetails">
                <ion-col col-6 class="fromPeriod"><span >FROM - {{getTimeValue(leaveItem.SFT_IN) | date :  "HH:mm"}}</span></ion-col>
                <ion-col col-6 class="toPeriod"><span >TO - {{getTimeValue(leaveItem.SFT_OUT) | date :  "HH:mm"}}</span></ion-col>
              </ion-col>

            <ion-col col-12 class="appliedDetails">
              <span >applied on: {{leaveItem.CREON | date :  "dd-MM-y"}}</span>
            </ion-col>

            <ion-col col-12 class="statusMsg" *ngIf="getStatusRequest(leaveItem.STATUS) != 'Approved'">
                <span [ngClass]="{'approvedStatus': getStatusRequest(leaveItem.STATUS) == 'Approved', 'rejectStatus': getStatusRequest(leaveItem.STATUS) == 'Rejected', 'pendingStatus': getStatusRequest(leaveItem.STATUS) == 'Pending'}">Status: {{getStatusRequestMsg(leaveItem.STATUS)}}</span>
              </ion-col>

          </ion-col>
          
          <ion-col col-2 class="accordionColThree" *ngIf="getStatusRequest(leaveItem.STATUS) == 'Pending'">
            <div class="cancel" (click)="confirmCancelLeave('P', leaveItem, 'OD')" id="{{leaveItem.REQID}}">
              <ion-icon name="ios-close-circle-outline"></ion-icon>
              <p>Click to <br>Cancel</p>
            </div>
          </ion-col>

        <ion-col col-2 class="accordionColThree" *ngIf="getStatusRequest(leaveItem.STATUS) == 'Approved' || getStatusRequest(leaveItem.STATUS) == 'Rejected'">
          <div class="cancel" (click)="confirmCancelLeave('A', leaveItem, 'OD')" id="{{leaveItem.REQID}}">
            <ion-icon name="ios-close-circle-outline"></ion-icon>
            <p>Click to <br>Delete</p>
          </div>
        </ion-col>

      </ion-row>
    </div>
  </div>

    <ion-row *ngIf="isGroupOD() && odRequestDataList.length == 0">
      <ion-col col-12>
        <span class="noresponce">No Request Available..</span>
      </ion-col>
    </ion-row>

    

      <!-- <ion-row (click)="toggleOD()" [ngClass]="{active: isGroupOD()}">
        <ion-col col-6><p>ON DUTY</p></ion-col>
        <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
      </ion-row>
      <ion-row *ngIf="isGroupOD()" class="accordionRow">
          <ion-col (click)="cancelOD()" class="accordionColOne" col-2>
          <div class="couponCounts">
            <p>OD</p>
          </div>
          <p class="status">Approved</p>
          </ion-col>
          <ion-col (click)="cancelOD()" class="accordionColTwo" col-8>
          
          <ion-col col-12 class="requestId">
            <span>Req Id: 123456</span>
          </ion-col>

          <ion-col col-12 class="dateDetails">
            <ion-col col-5 class="fromDate"><span >27-06-2018</span></ion-col>
            <ion-col col-2 class="till"><span>Till</span></ion-col>
            <ion-col col-5 class="toDate"><span >27-06-2018</span></ion-col>
          </ion-col>

          <ion-col col-12 class="dateDetails">
            <ion-col col-6 class="fromTime"><span >FROM - 09:30</span></ion-col>
            <ion-col col-6 class="toTime"><span >TO - 06:30</span></ion-col>
          </ion-col>

          <ion-col col-12 class="appliedDetails">
            <span>applied on: 24-06-2018</span>
          </ion-col>

          <p class="time">FROM - 09:30 TO - 06:30</p>
          <p class="appliedOnOD">Applied on: 24-06-2018</p>
          </ion-col>
          <ion-col col-2 class="accordionColThree">
              <div class="cancel" (click)="confirmCancelOD()" *ngIf="cancelButtonOD==true">
              <ion-icon name="ios-close-circle-outline"></ion-icon>
              <p>Click to <br>Cancel</p>
            </div>
          </ion-col>
      </ion-row> -->


      <ion-row text-wrap (click)="toggleFTP()" [ngClass]="{active: isGroupFTP()}">
          <ion-col col-6><p>FORGOT TO PUNCH</p></ion-col>
          <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
      </ion-row>
      <div *ngIf="ftpRequestDataList.length > 0">
      <div *ngFor="let leaveItem of ftpRequestDataList">
        <ion-row *ngIf="isGroupFTP()" class="accordionRow">
            <ion-col class="accordionColOne" col-2>
            <div class="couponCounts">
              <p>FTP</p>
            </div>
            <p class="status" [ngClass]="{'approvedStatus': getStatusRequest(leaveItem.STATUS) == 'Approved', 'rejectStatus': getStatusRequest(leaveItem.STATUS) == 'Rejected', 'pendingStatus': getStatusRequest(leaveItem.STATUS) == 'Pending'}">{{getStatusRequest(leaveItem.STATUS)}}</p>
            </ion-col>
            <ion-col (click)="cancelLeave(leaveItem.REQID)" class="accordionColTwo" col-8>
  
              <ion-col col-12 class="requestId">
                <span>Req Id: {{leaveItem.REQID}}</span>
              </ion-col>
  
              <ion-col col-12 class="dateDetails">
                <ion-col col-12 class="fromDate"><span >{{leaveItem.DATUM | date :  "dd-MM-y"}}</span></ion-col>
              </ion-col>
  
              <ion-col col-12 class="timeDetails">
                  <ion-col col-6 class="fromPeriod" [ngClass]="{'changeClr': getTimeDetailsChange(leaveItem.SFT_IN) == 'Y', 'normalClr': getTimeDetailsChange(leaveItem.SFT_IN) == 'N'}"><span >IN - {{getTimeDetails(leaveItem.SFT_IN) | date :  "HH:mm"}}</span></ion-col>
                  <ion-col col-6 class="toPeriod" [ngClass]="{'changeClr': getTimeDetailsChange(leaveItem.SFT_OUT) == 'Y', 'normalClr': getTimeDetailsChange(leaveItem.SFT_OUT) == 'N'}"><span >OUT - {{getTimeDetails(leaveItem.SFT_OUT) | date :  "HH:mm"}}</span></ion-col>
                </ion-col>
                <ion-col *ngIf="employeeLevel == 'E'" col-12 class="timeDetails">
                    <ion-col col-6 class="fromPeriod" [ngClass]="{'changeClr': getTimeDetailsChange(leaveItem.LUN_IN) == 'Y', 'normalClr': getTimeDetailsChange(leaveItem.LUN_IN) == 'N'}"><span >MID-IN - {{getTimeDetails(leaveItem.LUN_IN) | date :  "HH:mm"}}</span></ion-col>
                    <ion-col col-6 class="toPeriod" [ngClass]="{'changeClr': getTimeDetailsChange(leaveItem.LUN_OUT) == 'Y', 'normalClr': getTimeDetailsChange(leaveItem.LUN_OUT) == 'N'}"><span >MID-OUT - {{getTimeDetails(leaveItem.LUN_OUT) | date :  "HH:mm"}}</span></ion-col>
                  </ion-col>
  
              <ion-col col-12 class="appliedDetails">
                <span >applied on: {{leaveItem.CREON | date :  "dd-MM-y"}}</span>
              </ion-col>
  
              <ion-col col-12 class="statusMsg" *ngIf="getStatusRequest(leaveItem.STATUS) != 'Approved'">
                  <span [ngClass]="{'approvedStatus': getStatusRequest(leaveItem.STATUS) == 'Approved', 'rejectStatus': getStatusRequest(leaveItem.STATUS) == 'Rejected', 'pendingStatus': getStatusRequest(leaveItem.STATUS) == 'Pending'}">Status: {{getStatusRequestMsg(leaveItem.STATUS)}}</span>
                </ion-col>
  
            </ion-col>
            <ion-col col-2 class="accordionColThree" *ngIf="getStatusRequest(leaveItem.STATUS) == 'Pending'">
                <div class="cancel" (click)="confirmCancelLeave('P', leaveItem, 'FTP')" id="{{leaveItem.REQID}}">
                  <ion-icon name="ios-close-circle-outline"></ion-icon>
                  <p>Click to <br>Cancel</p>
                </div>
              </ion-col>

            <ion-col col-2 class="accordionColThree" *ngIf="getStatusRequest(leaveItem.STATUS) == 'Approved' || getStatusRequest(leaveItem.STATUS) == 'Rejected'">
              <div class="cancel" (click)="confirmCancelLeave('A', leaveItem, 'FTP')" id="{{leaveItem.REQID}}">
                <ion-icon name="ios-close-circle-outline"></ion-icon>
                <p>Click to <br>Delete</p>
              </div>
            </ion-col>
        </ion-row>
      </div></div>

      <ion-row *ngIf="isGroupFTP() && ftpRequestDataList.length == 0">
        <ion-col col-12>
          <span class="noresponce">No Request Available..</span>
        </ion-col>
      </ion-row>


      <!-- <ion-row (click)="toggleFTP()" [ngClass]="{active: isGroupFTP()}">
        <ion-col col-6><p>FORGOT TO PUNCH</p></ion-col>
        <ion-col col-6><p class="right"><ion-icon name="ios-arrow-down"></ion-icon></p></ion-col>
      </ion-row>
      <ion-row *ngIf="isGroupFTP()" class="accordionRow">
          <ion-col (click)="cancelFTP()" class="accordionColOne" col-2>
          <div class="couponCounts">
            <p>FTP</p>
          </div>
          <p class="status">Approved</p>
          </ion-col>
          <ion-col (click)="cancelFTP()" class="accordionColTwo" col-8>
            <ion-col col-12 class="requestId">
              <span>Req Id: 123456</span>
            </ion-col>

            <ion-col col-12 class="dateDetails">
              <span>27-06-2018</span>
            </ion-col>

            <ion-col col-12 class="dateDetails">
              <ion-col col-6 class="fromIn"><span >IN - 09:30</span></ion-col>
              <ion-col col-6 class="toOut"><span >OUT - 06:30</span></ion-col>
            </ion-col>

            <ion-col col-12 class="dateDetails">
              <ion-col col-6 class="fromMidIn"><span >MID-IN - 09:30</span></ion-col>
              <ion-col col-6 class="toMidOut"><span >MID-OUT - 06:30</span></ion-col>
            </ion-col>

            <ion-col col-12 class="appliedDetails">
              <span>applied on: 24-06-2018</span>
            </ion-col>

          </ion-col>
          <ion-col col-2 class="accordionColThree">
              <div *ngIf="cancelButtonFTP==true" (click)="confirmCancelFTP()" class="cancel">
              <ion-icon name="ios-close-circle-outline"></ion-icon>
              <p>Click to <br>Cancel</p>
            </div>
          </ion-col>
      </ion-row> -->

</ion-grid>

</ion-content>

<ion-footer>
    <img (click)="home()" [src]="homeIcon" height="35px" width="35px" />
</ion-footer>
