<ion-header>

  <ion-navbar>
    <ion-title>
      <span style="font-size: 0.8em">{{currentYear}}</span><br>
      <span>{{currentDate}}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
    <div class="tempCalender" *ngIf="!calenderVIew"></div>
  <ion-calendar *ngIf="calenderVIew" (onChange)="onChange($event)" (monthChange)="monthChange()" [(ngModel)]="dateRange" [options]="optionsRange" [type]="string"
  [format]="'YYYY-MM-DD'">
</ion-calendar>

  <ion-grid>
      <ion-row *ngIf="dayWiseSelectionFlag">
        <ion-col col-4>
            <div class="pretty p-default p-curve">
                <input type="radio" name="color" [disabled]="fulldayFlag" (click)="setTimingFunction('FD')" />
                <span class="state p-info-o">
                    <label>Full Day</label>
                </span>
            </div>
        </ion-col>
        <ion-col col-4>
            <div class="pretty p-default p-curve">
                <input type="radio" name="color" [disabled]="firstHalfFlag" (click)="setTimingFunction('FH')" />
                <span class="state p-info-o">
                    <label>1st Half</label>
                </span>
            </div>
        </ion-col>
        <ion-col col-4>
            <div class="pretty p-default p-curve">
                <input type="radio" name="color" [disabled]="secHalfFlag" (click)="setTimingFunction('SH')" />
                <span class="state p-info-o">
                    <label>2nd Half</label>
                </span>
            </div>
        </ion-col>
      </ion-row>

      <ion-row style="position: fixed;bottom: 0; width: 100%;">
          <ion-col><button ion-button small class="quarterly-btn" *ngIf="quarterWiseSelectionFlag" [disabled]="quarterFlag" (click)="getQuarterFunction()">QUARTERLY</button></ion-col>
          <ion-col></ion-col>
          <ion-col><button ion-button small class="custom-btn" (click)="dismiss('c')">CANCEL</button></ion-col>
          <ion-col><button ion-button small class="custom-btn" (click)="dismiss('k')">OK</button></ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
