<ion-header>
    <ion-navbar color="header">
    <ion-buttons end>
      <button style="background-color:transparent" end (click)="openMenu()" class="menu">
        <!-- <ion-icon style="font-size: 2.2em" color="loginButton" name="menu"></ion-icon> -->
      <img [src]="hamburger" height="30px" width="30px" />
      </button>
      </ion-buttons>
      <ion-title>LEAVES</ion-title>
    </ion-navbar>
    </ion-header>


<ion-content padding no-bounce>

  <ion-row>
      <ion-col *ngIf="privelage == 'PL'" (click)="privilegeLeave()" col-6>
          <ion-card>
                <ion-row>
                <ion-col col-10>
                <h1>PL</h1>
                <p *ngIf="userPLLeave !== undefined">Balance - {{userPLLeave.BAL_ESS}}</p>
                <p *ngIf="userPLLeave === undefined">Balance - 0</p>
                </ion-col>
                <ion-col col-2>
                <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                </ion-col>
                </ion-row>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="sick == 'SL'" (click)="sickLeave()" col-6>
          <ion-card>
              <ion-row>
              <ion-col col-10>
              <h1>SL</h1>
              <p *ngIf="userSLLeave !== undefined" >Balance - {{userSLLeave.BAL_ESS}}</p>
              <p *ngIf="userSLLeave === undefined">Balance - 0</p>
              </ion-col>
              <ion-col col-2>
              <ion-icon name="ios-arrow-forward-outline"></ion-icon>
              </ion-col>
              </ion-row>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="general == 'GL'" (click)="generalLeave()" col-6>
          <ion-card>
                <ion-row>
                <ion-col col-10>
                <h1>GL</h1>
                <p *ngIf="userGLLeave !== undefined">Balance - {{userGLLeave.BAL_ESS}}</p>
                <p *ngIf="userGLLeave === undefined">Balance - 0</p>
                </ion-col>
                <ion-col col-2>
                <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                </ion-col>
                </ion-row>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="casual == 'CL'" (click)="casualLeave()" col-6>
          <ion-card>
                <ion-row>
                <ion-col col-10>
                <h1>CL</h1>
                <p *ngIf="userCLLeave !== undefined" >Balance - {{userCLLeave.BAL_ESS}}</p>
                <p *ngIf="userCLLeave === undefined">Balance - 0</p>
                </ion-col>
                <ion-col col-2>
                <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                </ion-col>
                </ion-row>
          </ion-card>
        </ion-col>
        <ion-col (click)="leaveEncashment()" col-12>
          <ion-card>
                <ion-row>
                <ion-col col-11>
                <h1>LEAVE<br>ENCASHMENT</h1>
                <!-- <p *ngIf="userLeaveEncashment !== undefined" >Balance - {{userLeaveEncashment.BAL_ESS}}</p>
                <p *ngIf="userLeaveEncashment === undefined">Balance - 0</p> -->
                </ion-col>
                <ion-col col-1>
                <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                </ion-col>
                </ion-row>
          </ion-card>
        </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
    <img (click)="home()" [src]="homeIcon" height="35px" width="35px" />
</ion-footer>