page-apply-leave {

    .toolbar-background {
        background: transparent !important;
    }

    .back-button {
        color: white !important;
    }

    .toolbar-title{
        color: white !important;
    }

    .header::after{
        background-image: unset !important;
    }

    ion-content{
        background: url(../assets/homePageIcons/BG.svg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    
        .scroll-content{
            padding: 0px !important;

        }

        ion-row {
            padding: 0px 22px 22px 22px;
        }

        ion-card{
            width: 98% !important;
            height: 97%;
            background: #194e5e !important;
            margin: 2px !important;
            box-shadow: unset !important;
            -webkit-box-shadow: unset !important;
            opacity: 0.7 !important;
            p{
                text-align: center;
                font-size: 1rem !important;
                color:white !important;
             }
         }

    }

}
