page-apply-ftp {
    .toolbar-background {
      background: transparent !important;
    }
    .back-button {
      color: white !important;
    }
    .toolbar-title {
      color: white !important;
      font-size: 1.4rem !important;
    }
    .toolbar-content {
      text-align: center;
    }
    .header::after {
      background-image: unset !important;
    }
    ion-content {
      background: url(../assets/homePageIcons/BG.svg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      overflow: hidden;
      .scroll-content {
        padding: 0px !important;
      }
      .gridImageDiv {
        width: 100%;
        border-radius: 50%;
        text-align: -webkit-center;
        .userImage {
          margin-top: 4%;
          width: 35%;
        }
      }
      ion-grid {
        height: 100% !important;
        text-align: -webkit-center;
      }
      ion-row {
        padding: 0px 3% 3% 3%;
      }
      .inTime{
        margin-top: 10%;
        color: #13e8e2 !important;
      }
      .outTime{
        margin-top: 10%;
        color: red !important;
      }
      .midInTime{
        margin-top: 10%;
        color: red !important;
      }
      .midOutTime{
        margin-top: 10%;
        color: #13e8e2 !important;
      }
      .ftp {
        font-size: 1.2rem;
      }
      .inCard {
        background: #194e5e !important;
        text-align: center !important;
        padding: 2%;
        border-radius: 5px !important;
        p {
          color: white;
        }
      }
      .outCard {
        background: #237590 !important;
        text-align: center !important;
        padding: 2%;
        border-radius: 5px !important;
        p {
          color: white;
        }
      }
      .midInCard {
        background: #237590 !important;
        text-align: center !important;
        padding: 2%;
        border-radius: 5px !important;
        p {
          color: white;
        }
      }
      .midOutCard {
        background: #194e5e !important;
        text-align: center !important;
        padding: 2%;
        border-radius: 5px !important;
        p {
          color: white;
        }
      }
      .apply {
        text-align: -webkit-center;
        border: 1px solid white !important;
        text-transform: capitalize;
        border-radius: 50%;
        background-color: #0a3946;
        height: 6rem !important;
        width: 6rem !important;
      }
      ion-textarea {
        background: #194e5e !important;
      }
      .col {
        padding: 0px !important;
        text-align: center;
        p {
          color: white;
        }
      }

      .list-View{
        margin: 0% 3%;
        .item-view{
          border-radius: 10px;
          background: #237590 !important;
          border-radius: 5px !important;
          ion-label{
            display: none;
          }
          ion-select{
            max-width: 100% !important;
            color: #ffffff !important;
            padding: 13px 8px 13px 0px !important;
            font-size: 0.9em;
            .select-icon{
              .select-icon-inner{
                float: left;
                display: block;
                color: #ffffff !important;
                margin-left: 3%;
              }
            } 
            .select-text{
              //margin-left: 10%;
              min-width: 100% !important;
              font-size: 0.9em;
            }
          }
        }
      }
      
      .alert-head{
        text-align: center !important;
      }

      
    }
    ion-footer {
      height: 3.5em !important;
      text-align: center !important;
      background-color: #135c6d !important;
      img {
        margin-top: 2% !important;
      }
    }
  }