<ion-header>
  <ion-navbar color="header">
    <ion-buttons end>
      <button style="background-color:transparent" end (click)="openMenu()" class="menu">
        <!-- <ion-icon style="font-size: 2.2em" color="loginButton" name="menu"></ion-icon> -->
        <img [src]="hamburger" height="30px" width="30px" />
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content no-bounce>
  <ion-grid style="height:100%;" [ngClass]="showCustomMsg ? 'withCustomMsg' : 'withoutCustomMsg'">
    <ion-row style="height:28%;">
      <ion-col padding col-12>
        <ion-avatar class="userAvatar">
          <img class="userImage" [src]="photos" />
        </ion-avatar>
        <ion-fab (click)="changeImage()" style="margin-left:4%; margin-top:-13%;">
          <button ion-fab mini icon-only clear>
            <ion-icon style="text-align:center" name="ios-camera-outline"></ion-icon>
          </button>
        </ion-fab>
        <p style="color:white;margin-top: 2%;margin-bottom: 0%;">
          <b>{{userName}}</b>
        </p>
      </ion-col>
    </ion-row>
    <ion-row style="height:72%;" [ngClass]="{'customMsgFalse': customMsg!='false', 'customMsgTrue': customMsg=='false'}">
      <ion-col col-12 *ngIf="customMsg!='false'">
        <div class="customMsg">
          <p>{{customMsg}}</p>
        </div>
      </ion-col>
      <ion-col col-6 (click)="attendance()">
        <ion-card>
          <ion-avatar class="gridImageDiv">
            <img class="userImage option-img" [src]="attendanceIcon" />
          </ion-avatar>
          <p>Attendance</p>
        </ion-card>
      </ion-col>
      <ion-col col-6 (click)="applyLeave()">
        <ion-card>
          <ion-avatar class="gridImageDiv">
            <img class="userImage option-img" [src]="leavesIcon" />
          </ion-avatar>
          <p>Leaves</p>
        </ion-card>
      </ion-col>
      <ion-col col-6 (click)="coupons()">
        <ion-card>
          <ion-avatar class="gridImageDiv">
            <img class="userImage option-img" [src]="couponsIcon" />
          </ion-avatar>
          <p>Coupons</p>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card>
          <ion-avatar class="gridImageDiv" (click)="myRequest()">
            <img class="userImage option-img" [src]="my_requestIcon" />
          </ion-avatar>
          <p>My Request</p>
        </ion-card>
      </ion-col>
      <ion-col col-6 *ngIf="userInfo.EP_USERTYPE == 'MSS'">
        <ion-card>
          <ion-avatar class="gridImageDiv" (click)="myTask()">
            <img class="userImage option-img" [src]="my_taskIcon" />
          </ion-avatar>
          <p>My Task</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
