page-home {
  .toolbar-background {
    background: transparent !important;
  }
  .header::after {
    background-image: unset !important;
  }
  ion-content {
    background: url(../assets/homePageIcons/bg.jpg);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    .scroll-content {
      padding: 0px !important;
    }
    ion-row {
      //padding: 0px 22px 22px 22px;
    }
    ion-card-content {
      padding: 0% 0% !important;
      margin-top: 2%;
      p {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        color: black !important;
      }
    }
    .userImage {
      display: inline;
      width: 25%;
    }
    .fab {
      background-color: white !important;
      border: 1px solid black;
      color: black !important;
      width: 30px !important;
      height: 30px !important;
    }
    .gridImageDiv {
      width: 85%; //height: 100%;
      border-radius: 50%;
      .userImage {
        margin-top: 10%;
        width: 50%;
      }
    }
    .withCustomMsg {
      .gridImageDiv {
        width: 85%;
        border-radius: 50%;
        .userImage {
          margin-top: 15%;
          width: 50%;
        }
      }
    }
    .withoutCustomMsg {
      .gridImageDiv {
        width: 85%;
        border-radius: 50%;
        .userImage {
          margin-top: 10%;
          width: 50%;
        }
      }
    }
    .customMsg {
      width: 100%;
      p {
        padding: 1% 1% !important;
        text-align: left !important;
        border-radius: 3px !important;
        color: black !important;
        background-color: white !important;
      }
    }
    p {
      text-align: center;
      color: white;
    }
    ion-col {
      text-align: -webkit-center;
      padding: 0% !important;
      p {
        font-size: 1.5rem !important;
      }
    }
    ion-card {
      width: 98% !important;
      height: 97%;
      background: #194e5e !important;
      margin: 1% !important;
      box-shadow: unset !important;
      -webkit-box-shadow: unset !important;
      opacity: 0.7 !important;
      border-radius: 5px !important;
      p {
        text-align: center;
        font-size: 1rem !important;
        color: white !important;
      }
    }
    @media only screen and (min-height: 568px) and (min-width: 320px) {
      .userAvatar {
        margin-top: 10%;
      }
    }
    @media only screen and (min-height: 620px) and (min-width: 320px) {
      .userAvatar {
        margin-top: 15%;
      }
    }
    //Media query for iPhone-X
    @media only screen and (min-height: 812px) and (min-width: 375px) {
      .gridImageDiv {
        width: 85%;
        border-radius: 50%;
        .userImage {
          margin-top: 15%;
          width: 50%;
        }
      }
      .userAvatar {
        margin-top: 18%;
      }
      .withoutCustomMsg {
        .gridImageDiv {
          width: 100%;
          border-radius: 50%;
          .userImage {
            margin-top: 15%;
            width: 50%;
          }
        }
      }
    }
    .customMsgTrue{
      padding: 10% 5% 10% 5%;
    }
    .customMsgFalse{
      padding: 5% 5% 0% 5%;
    }
  }
}
