page-coupons {
    
        .scroll-content{
            padding: 0px !important
        }
    
         .gridImageDiv{
            width: 100%;
            //height: 100%;
            border-radius: 10px;
            
            .userImage{
            margin-top: 20%;
            border: 3px solid white;
            width: 30px;
           // margin-left: 25%;
         }
         }
         ion-card-content{
            p{
                padding: 5px 5px !important;
                text-align: left !important;
             }
         }
       
         p{
            text-align:center;
         }
    
         ion-col {
            text-align: -webkit-center;
         }
    
         ion-card {
            border-radius: 50% !important;
            width: 75px !important;
            height: 75px;
            p{
                text-align: center;
                font-size: 1rem !important;
             }
         }
    
    }