ion-nav{
    font-family: $font-family-base !important;
    ion-content, ion-header{
    font-family: $font-family-base !important;
    }
 }
.action-sheet-group .button-inner {
    display: inline-grid !important;
    text-align: -webkit-center !important;
}
 .action-sheet-group:last-child {
    padding-bottom: 0.8rem;
    text-align: -webkit-center !important;
    border-top: 1px solid black !important;
}
.action-sheet-title {
    text-align: -webkit-center !important;
}

.action-sheet-button{
    width:33% !important;
}