<ion-header>
  <ion-navbar color="header">
    <ion-buttons end>
      <button style="background-color:transparent" end (click)="openMenu()" class="menu">
        <!-- <ion-icon style="font-size: 2.2em" color="loginButton" name="menu"></ion-icon> -->
        <img [src]="hamburger" height="30px" width="30px" />
      </button>
    </ion-buttons>
    <ion-title>MY TASKS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <ion-grid [ngClass]="approvedFlag ? 'enableApprove' : 'disableApprove'">
    <ion-row>
      <ion-col col-4 style="text-align:left;display:inline-flex" >
        <p (click)="applyAllApprovedRequests()" class="approve" style="color:white">Approve</p>
        <p (click)="applyAllApprovedRequests()" class="approve" style="margin-left: 8%;color: white;">
          <ion-icon style="font-size:3em;line-height:0.4" name="ios-checkmark"></ion-icon>
        </p>
      </ion-col>
      <ion-col col-6 style="text-align: right">
        <p class="couponDesignation">Select all</p>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-checkbox [checked]="selectedAllFlag" (click)="selectAll()"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  <div  *ngFor="let commonLeave of commonLeaveType; let i=index">
    <ion-card  *ngIf="commonLeave.type != 'OD' && commonLeave.type != 'FTP'" (click)="toggleGroup(commonLeave)" [ngClass]="{active: isGroupShown(commonLeave)}">
      <ion-row  class="rowBg">
        <ion-col col-2>
          <p style="margin-top: 25% !important;margin-right: 10% !important;">{{commonLeave.type}}</p>
        </ion-col>
        <ion-col col-4>
          <p class="userName">{{commonLeave.NAME}}</p>
          <p style="color: yellow !important; font-size: 0.7em">({{commonLeave.PERNR}})</p>

        </ion-col>
        <ion-col col-4>
          <p style="margin-top: 14% !important">{{commonLeave.BEGDA | date :  "dd/MM"}} - {{commonLeave.EDNDA | date :  "dd/MM"}}</p>
        </ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-checkbox (click)="selectMe(i)" [checked]="commonLeave.selected"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isGroupShown(commonLeave) && commonLeave.type != 'OD' && commonLeave.type != 'FTP'" class="subCard">
        <ion-col col-12 style="text-align: -webkit-left"><p style="color: yellow !important; font-size: 0.7em">Applied on: {{commonLeave.CREON | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-3 style="text-align: -webkit-left"><p>From :</p></ion-col>
        <ion-col col-5 style="text-align: -webkit-right"><p>{{commonLeave.BEGDA | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-4 style="text-align: -webkit-left"><p>({{getPeriod(commonLeave.BEGUZ)}})</p></ion-col>
        <ion-col col-3 style="text-align: -webkit-left"><p>To   :</p></ion-col>
        <ion-col col-5 style="text-align: -webkit-right"><p>{{commonLeave.EDNDA | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-4 style="text-align: -webkit-left"><p>({{getPeriod(commonLeave.ENDUZ)}})</p></ion-col>
        <ion-col col-6 style="text-align: -webkit-right" (click)="applySingleApprovedRequest(i)"><img class="button" [src]="acceptButton" /></ion-col>
        <ion-col col-6 style="text-align: -webkit-left" (click)="applySingleRejectRequest(i)"><img class="button" [src]="rejectButton" /></ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div  *ngFor="let commonLeave of commonLeaveType; let i=index">
    <ion-card *ngIf="commonLeave.type == 'OD'" (click)="toggleGroup(commonLeave)" [ngClass]="{active: isGroupShown(commonLeave)}">
      <ion-row class="rowBg">
        <ion-col col-2>
          <p style="margin-top: 25% !important;margin-right: 10% !important;">{{commonLeave.type}}</p>
        </ion-col>
        <ion-col col-4>
          <p class="userName">{{commonLeave.NAME}}</p>
          <p style="color: yellow !important; font-size: 0.7em">({{commonLeave.PERNR}})</p>

        </ion-col>
        <ion-col col-4>
          <p style="margin-top: 14% !important">{{commonLeave.BEGDA | date :  "dd/MM"}} - {{commonLeave.ENGDDA | date :  "dd/MM"}}</p>
        </ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-checkbox (click)="selectMe(i)" [checked]="commonLeave.selected"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isGroupShown(commonLeave) && commonLeave.type == 'OD' " class="subCard">
        <ion-col col-12 style="text-align: -webkit-left"><p style="color: yellow !important; font-size: 0.7em">Applied on: {{commonLeave.CREON | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-5 style="text-align: -webkit-left"><p>{{commonLeave.BEGDA | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-1><p>-</p></ion-col>
        <ion-col col-6 style="text-align: -webkit-left"><p>{{commonLeave.ENGDDA | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-6 style="text-align: -webkit-left"><p>From : {{getTimeValue(commonLeave.SFT_IN) | date :  "HH:mm"}}</p></ion-col>
        <!-- <ion-col col-3 style="text-align: -webkit-left"><p>: {{getTimeValue(commonLeave.SFT_IN) | date :  "HH:mm"}}</p></ion-col> -->
        <ion-col col-6 style="text-align: -webkit-left"><p>To : {{getTimeValue(commonLeave.SFT_OUT) | date :  "HH:mm"}}</p></ion-col>
        <!-- <ion-col col-3 style="text-align: -webkit-left"><p>: {{getTimeValue(commonLeave.SFT_OUT) | date :  "HH:mm"}}</p></ion-col> -->
        <ion-col col-6 style="text-align: -webkit-right" (click)="applySingleApprovedRequest(i)"><img class="button" [src]="acceptButton" /></ion-col>
        <ion-col col-6 style="text-align: -webkit-left"  (click)="applySingleRejectRequest(i)"><img class="button" [src]="rejectButton" /></ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div  *ngFor="let commonLeave of commonLeaveType; let i=index">
    <ion-card *ngIf="commonLeave.type == 'FTP'" (click)="toggleGroup(commonLeave)" [ngClass]="{active: isGroupShown(commonLeave)}">
      <ion-row  class="rowBg">
        <ion-col col-2>
          <p style="margin-top: 25% !important;margin-right: 10% !important;">{{commonLeave.type}}</p>
        </ion-col>
        <ion-col col-4>
          <p class="userName">{{commonLeave.NAME}}</p>
          <p style="color: yellow !important; font-size: 0.7em">({{commonLeave.PERNR}})</p>

        </ion-col>
        <ion-col col-4>
          <p style="margin-top: 14% !important">{{commonLeave.DATUM | date :  "dd/MM"}}</p>
        </ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-checkbox (click)="selectMe(i)" [checked]="commonLeave.selected"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isGroupShown(commonLeave) && commonLeave.type == 'FTP' " class="subCard">
        <ion-col col-12 style="text-align: -webkit-left"><p style="color: yellow !important; font-size: 0.7em">Applied on: {{commonLeave.CREON | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-12 style="text-align: -webkit-left"><p>{{commonLeave.DATUM | date :  "dd-MM-y"}}</p></ion-col>
        <ion-col col-6 style="text-align: -webkit-left"><p>IN : {{getTimeValue(commonLeave.SFT_IN) | date :  "HH:mm"}}</p></ion-col>
        <!-- <ion-col col-3 style="text-align: -webkit-left"><p>: {{getTimeValue(commonLeave.SFT_IN) | date :  "HH:mm"}}</p></ion-col> -->
        <ion-col col-6 style="text-align: -webkit-left"><p>OUT : {{getTimeValue(commonLeave.SFT_OUT) | date :  "HH:mm"}}</p></ion-col>
        <!-- <ion-col col-3 style="text-align: -webkit-left"><p>: {{getTimeValue(commonLeave.SFT_OUT) | date :  "HH:mm"}}</p></ion-col> -->
        <ion-col *ngIf="employeeLevel == 'E'" col-3 style="text-align: -webkit-left"><p>MID-IN</p></ion-col>
        <ion-col *ngIf="employeeLevel == 'E'" col-3 style="text-align: -webkit-left"><p>: {{getTimeValue(commonLeave.LUN_IN) | date :  "HH:mm"}}</p></ion-col>
        <ion-col *ngIf="employeeLevel == 'E'" col-3 style="text-align: -webkit-right"><p>MID-OUT</p></ion-col>
        <ion-col *ngIf="employeeLevel == 'E'" col-3 style="text-align: -webkit-left"><p>: {{getTimeValue(commonLeave.LUN_OUT) | date :  "HH:mm"}}</p></ion-col>
        <ion-col col-6 style="text-align: -webkit-right" (click)="applySingleApprovedRequest(i)"><img class="button" [src]="acceptButton" /></ion-col>
        <ion-col col-6 style="text-align: -webkit-left" (click)="applySingleRejectRequest(i)"><img class="button" [src]="rejectButton" /></ion-col>
      </ion-row>
    </ion-card>
  </div>

  </ion-grid>
</ion-content>

<ion-footer>
  <img (click)="home()" [src]="homeIcon" height="35px" width="35px" />
</ion-footer>
