page-my-tasks {
    
    .toolbar-background {
        background: transparent !important;
    }
    .back-button {
        color: white !important;
    }
    .toolbar-title{
        color: white !important;
        font-size: 1.4rem !important;
    }
    .toolbar-content{
        text-align: center;
    }
    .header::after{
        background-image: unset !important;
    }

    ion-content {
        background: url(../assets/homePageIcons/BG.svg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    
        .scroll-content{
            padding: 0px !important;

        }

        .col {
            text-align: center;
        }

        .couponCounts {
            text-align: center;
            font-size: 1.8rem;
            font-weight: normal;
            line-height: 1.5;
            background-color: #105366 !important;
            border: 2px solid #105366;
            border-radius: 50%;
            z-index: 999;
            width:100%;
            height: 100%;
            p {
                border: 1px solid white !important;
                width: 100%;
                height: 100%;
                color:white;
                border-radius: 50%;
                padding-top: 25%;
            }
        }

        ion-row{
            .couponDesignation {
                color:white;
            }
            .item{
                width: 80%;
                padding-left: 8px;
                background-color: transparent;
            }
            .checkbox{
                margin: 12px 9px 12px 6px !important;
            }
            .checkbox-icon {
                border-radius: 50% !important;
                position: relative !important;
                width: 20px !important;
                height: 20px !important;
                border-color: white !important;
                background-color: transparent !important; 
                border-width: 1px !important;  
            }
            .checkbox-checked .checkbox-inner {
                left: 6px !important;
                top: 1px !important;
                width: 7px !important;
                height: 14px !important;
            }
        }

        .card-ios {
            background-color: transparent !important;;
            margin: 0px !important;
            width: 100% !important;
            margin-top: 2% !important;
            -webkit-box-shadow: unset !important;
            box-shadow:  unset !important;
            height:5em !important;
            .rowBg{
                background-image: url(../assets/couponsImages/my-Task-BG.svg) !important;
                background-size: cover  !important; 
                background-position: center center  !important; 
                margin: 0 auto  !important;
                width:93% !important;
                top: 0%;
                width: 100%;
            }
        }

        ion-card {
            background-color: transparent !important;;
            margin: 0px !important;
            width: 100% !important;
            margin-top: 2% !important;
            -webkit-box-shadow: unset !important;
            box-shadow:  unset !important;
            .rowBg {
                background-image: url(../assets/couponsImages/my-Task-BG.svg);
                background-size: 100% 100%;
                top: 0%;
                width: 100%;
            .item{
                width: 80%;
                padding-left: 8px;
                background-color: transparent;
            }
            .checkbox-icon {
                border-radius: 50% !important;
                position: relative !important;
                width: 20px !important;
                height: 20px !important;
                border-color: white !important;
                background-color: transparent !important; 
                border-width: 1px !important;  
            }
            .checkbox-checked .checkbox-inner {
                left: 6px !important;
                top: 1px !important;
                width: 7px !important;
                height: 14px !important;
            }
           .col {
            background-color: transparent;
             }
            [col-2] {
                padding: 7px !important;
            }
            p {
                color: white !important;
                margin: 0px !important;
            }
        }
    }
    .subCard {
        background-color: #0f4a5d !important;
        border-radius:7px;
        p{
        margin-left: 3% !important;
        color: white;
        }
        ion-icon{
            font-size: 2.4em !important;
        }
        .approve {
            padding:0% !important; 
            height:3rem !important;
            padding-right:10% !important;    
            border-top-left-radius: 30px !important;
            border-bottom-left-radius: 30px !important; 
            text-transform: capitalize !important;
        }
        .reject {
            padding:0% !important;
            height:3rem !important; 
            padding-right:20% !important;     
            border-top-left-radius: 30px !important;
            border-bottom-left-radius: 30px !important; 
            text-transform: capitalize !important;
        }
    }

    .button {
        width: 60%;
    } 

    .disableApprove {
        .approve {
            opacity: 0.3 !important;
            cursor: none !important;
            pointer-events: none !important;
        }
    }
    .enableApprove {
        .approve {
            opacity: 1 !important;
        }
    }

    //Media query for iPhone 6, 6s, 7, 8
    @media only screen and (min-height: 667px) and (min-width: 375px)  {
        .card-ios {
            background-color: transparent !important;;
            margin: 0px !important;
            width: 100% !important;
            margin-top: 2% !important;
            -webkit-box-shadow: unset !important;
            box-shadow:  unset !important;
            height:5em !important;
            .rowBg{
                background-image: url(../assets/couponsImages/my-Task-BG.svg) !important;
                background-size: cover  !important; 
                background-position: center center  !important; 
                margin: 0 auto  !important;
                width:100% !important;
                top: 0%;
                width: 100%;
            }
        } 
        }
    
    }

    //Media query for Nokia 8
    @media only screen and (min-height: 667px) and (min-width: 375px)  {
        .content-md {
            .rowBg {
                background-image: url(../assets/couponsImages/my-Task-BG.svg) !important;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                height: 4.75em;
            }
        } 
    }

    ion-footer {
        height:3.5em !important; 
        text-align: center !important; 
        background-color:#135c6d !important;
        img {
            margin-top:2% !important;
        }
      }


}
