<ion-header>
  <ion-navbar color="header">
  <ion-buttons end>
    <button style="background-color:transparent" end (click)="openMenu()" class="menu">
      <!-- <ion-icon style="font-size: 2.2em" color="loginButton" name="menu"></ion-icon> -->
    <img [src]="hamburger" height="30px" width="30px" />
    </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  </ion-header>


<ion-content padding no-bounce>
  <ion-grid>

    <ion-card class="cardOne">
      <ion-card-header>
        HISTORY
      </ion-card-header>
      <div *ngIf="encashmentData.length > 0">
      <p class="history" *ngFor="let history of encashmentData">
        <span class="dot">•</span>
        <span class="content">{{history.HISTORY}}</span>
      </p></div>

      <div *ngIf="encashmentData.length == 0">
          <p class="history">
            <span class="dot">•</span>
            <span class="content">No history available..</span>
          </p></div>

    </ion-card>
    
    <ion-card class="cardTwo">
      <ion-card-header>
        NEW CLAIM
      </ion-card-header>
    <ion-row>
      <ion-col col-12>
        <pre><p style="text-align: center; color: #fff;"><span>Eligible     :     </span><span>{{encashmentEP_NDAY}} days</span></p></pre>
      </ion-col>
      <ion-col col-12 class="applybtn">
          <pre><span>   Apply     :     <ion-input [(ngModel)]="applyEncashDays" [ngClass]="{'disableBtn': applyBtnFlag === true}" style="color: #000;"></ion-input>   Days</span></pre>
      </ion-col>
    </ion-row>
    </ion-card>

    <!-- <div class="applyButtonParent" [ngClass]="{'disableBtn': applyBtnFlag === true}">
      <button class="applyButton" ion-button (click)="applyEncashmentRequest()">Apply</button>
    </div> 
  -->

    <div class="btn-layout" [ngClass]="{'disableBtn': applyBtnFlag === true}">
      <button class="confirm" ion-button (click)="applyEncashmentRequest()">APPLY</button>
    </div>

    <p class="notifyMsg">*Leave Encashment cancellation has to be done on the portal only</p>


</ion-grid>

</ion-content>



<ion-footer>
    <img (click)="home()" [src]="homeIcon" height="35px" width="35px" />
</ion-footer>