<ion-header>
  <ion-navbar color="header">
    <ion-buttons end>
      <button end (click)="openMenu()" class="menu">
        <img [src]="hamburger" height="30px" width="30px" />
      </button>
    </ion-buttons>
    <ion-title>ATTENDANCE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!calenderVIew" class="calendarStaticHeight"></div>
  <ion-calendar *ngIf="calenderVIew" [(ngModel)]="dateRange" (onChange)="onChange($event)" [options]="optionsRange" [type]="string"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>
  <ion-grid>
    <ion-card class="clrBoxParent">
      <ion-row>
        <ion-col style="padding: 5px 0px 5px 5px" col-4>
          <span class="clrBox approvedbg"></span>
          <div class="clrBoxLabel">Approved</div>
        </ion-col>
        <ion-col style="padding: 5px 0px 5px 0px" col-4>
          <span class="clrBox Unautharizedbg"></span>
          <div class="clrBoxLabel">Unauthorized absence</div>
        </ion-col>
        <ion-col style="padding: 5px 0px 5px 0px" col-4>
          <span class="clrBox Normalbg"></span>
          <div class="clrBoxLabel">Normal Punch</div>
        </ion-col>
        <ion-col style="padding: 5px 0px 5px 5px" col-4>
          <span class="clrBox RequestRaisedbg"></span>
          <div class="clrBoxLabel">Request Raised</div>
        </ion-col>
        <ion-col style="padding: 5px 0px 5px 0px" col-4>
          <span class="clrBox HolidayWeekoffbg"></span>
          <div class="clrBoxLabel">Holiday/Weekly off</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-thumbnail class="dateBox" item-start [ngClass]="currentCssClass != ''?currentCssClass:'ATT1_NormalPunch_ATT2_NormalPunch'">
          <p style="color:white" class="currentDate" [innerHTML]="currentDate"></p>
          <p style="color:white" class="currentMonth" [innerHTML]="currentMonth"></p>
        </ion-thumbnail>
        <ion-row>
          <ion-col col-12>
            <span class="label-time">
              <pre><b>Working hours :</b> <span style="color: gray">{{totalHoursWorked}} hrs</span></pre>
            </span>
          </ion-col>
          <ion-col col-6 >
            <span class="label-time">
              <pre><b style="font-size: 1.1em;">In         : </b><span style="font-weight: 900;color: #0AA0BF;font-size: 1.1em;">{{punchIN}}</span></pre>
            </span>
          </ion-col>
          <ion-col col-6 >
            <span class="label-time">
              <pre><b style="font-size: 1.1em;">Out         : </b><span style="font-weight: 900;color: #0AA0BF;font-size: 1.1em;">{{punchOUT}}</span></pre>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 >
            <span class="label-time">
              <pre><b style="font-size: 1.1em;">Mid-In : </b><span style="color: #068C61;font-weight: 900;font-size: 1.1em;">{{midIN}}</span></pre>
            </span>
          </ion-col>
          <ion-col col-6 >
            <span class="label-time">
              <pre><b style="font-size: 1.1em;">Mid-Out : </b><span style="color: #068C61;font-weight: 900;font-size: 1.1em;">{{midOUT}}</span></pre>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
            <div class="label-time" style="float: left;">
              <span class="firstHalf"></span>
              <pre style="display: inline-block;"><b *ngFor="let req_ATT_1 of requests_ATT_1"style="font-size: 1.1em;" [ngClass]="{'ODP':'RequestRaised','FTP':'RequestRaised','CLP':'RequestRaised','SLP':'RequestRaised','GLP':'RequestRaised','QLP':'RequestRaised','PLP':'RequestRaised','ODA':'approved','FTA':'approved','CLA':'approved','SLA':'approved','GLA':'approved','QLA':'approved','PLA':'approved'}[req_ATT_1]">{{req_ATT_1}} </b></pre>
            </div>
          </ion-col>
          <ion-col col-6 >
            <div class="label-time" style="float: left;">
              <span class="secondHalf"></span>
              <pre style="display: inline-block;"><b *ngFor="let req_ATT_2 of requests_ATT_2"style="font-size: 1.1em;" [ngClass]="{'ODP':'RequestRaised','FTP':'RequestRaised','CLP':'RequestRaised','SLP':'RequestRaised','GLP':'RequestRaised','QLP':'RequestRaised','PLP':'RequestRaised','ODA':'approved','FTA':'approved','CLA':'approved','SLA':'approved','GLA':'approved','QLA':'approved','PLA':'approved'}[req_ATT_2]">{{req_ATT_2}} </b></pre>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>


    <ion-card class="attendance-btn-layout">
      <ion-row>
        <ion-col (click)="applyLeave()" col-4>
          <button ion-button block class="btn-clr">Apply
            <br>leave</button>
        </ion-col>
        <ion-col (click)="applyOD()" col-4>
          <button ion-button block class="btn-clr">Apply
            <br>OD</button>
        </ion-col>
        <ion-col (click)="applyFTP()" col-4>
          <button ion-button block class="btn-clr">Apply
            <br>FTP</button>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-grid>
</ion-content>

<ion-footer>
  <img [src]="homeIcon" height="35px" width="35px" />
</ion-footer>
