page-attendance-view {

  height: 100%;

  .toolbar-background {
    background: transparent !important;
  }
  .back-button {
      color: white !important;
  }
  .toolbar-title{
    color: white !important;
    font-size: 1.4rem !important;
  }
  .toolbar-content{
    text-align: center;
  }
  .header::after{
      background-image: unset !important;
  }
  .menu{
    background-color: transparent !important;
  }

  ion-content{
    background: url(../assets/homePageIcons/BG.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    .calendarStaticHeight{
      padding: unset;
      background: url('assets/imgs/Calendar-BG.png');
      color: #fff !important;
      width: 100%;
      min-height: 16em;
      display: block;
      margin: 0 auto;
      margin-bottom: 1em;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0px 6px 13px 15px rgba(0,0,0,0.4);
    }
    ion-calendar{
      padding: unset;
      background: url('assets/imgs/Calendar-BG.png');
      color: #fff !important;
      width: 100%;
      min-height: 63%;
      display: block;
      margin: 0 auto;
      margin-bottom: 1em;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0px 6px 13px 15px rgba(0,0,0,0.4);
    }

    ion-calendar-month .danger .days .on-selected{
      background: transparent;
    }

    pre {
      font-family: "Century Gothic" !important;
    }

    .firstHalf {
      content: url("../assets/imgs/First-Half.svg");
      display: inline-block;
      width:15%;
    }

    .secondHalf {
      content: url("../assets/imgs/Second-Half.svg");
      display: inline-block;
      width:15%;
    }

    .header::after {
      background-image: unset !important;
    }

    ion-calendar .title, ion-calendar .title .switch-btn,ion-calendar .title .back, ion-calendar .title .forward{
      background: transparent !important;
      color: #fff;
    }

    .btn-clr{
      background: #227F9B !important;
      color:#fff;
    }

    .button-md{
      text-transform: unset;
    }

    ion-calendar .title .back {
      left: 40px !important;
      width: 40px;
      height: 40px;
      text-align: center;
      display: block;
      ion-icon{
        margin-top: 25%;
      }
    }

  ion-calendar .title .forward {
    right: 40px !important;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    ion-icon{
      margin-top: 25%;
    }
  }
 
  ion-content ion-calendar .title .switch-btn{
    margin-top: 1%;
  }
 

  .ATT1_Pending_ATT2_Pending{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background-color: #e5da28 !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p {
      //margin-top: 15%;
    }
  }

  .HollydayClass, .ATT1_Holliday_ATT2_Holliday{
    // border-radius: 2px !important;
    // width: 20px !important;
    // display: block !important;
    // margin: -6% auto !important;     line-height: 20px;
    // padding: 0 !important;
    // height: 20px !important;
    // background-color: #136571 !important;
    // position: relative !important;
    // z-index: 2 !important;
    // font-size: 0.7em;

    border-radius: unset;
    display: unset;
    padding: unset;
    position: unset;
    z-index: unset;
    margin: -20% auto !important;
    line-height: 32px;
    background-color: #136571 !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Approved_ATT2_Approved{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background-color: #4de835 !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_UA_ATT2_UA{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background-color: #fe4543 !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }


  .ATT1_Approved_ATT2_Pending{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #4de835 50%,#e5da28 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      margin-top: 15%;
    }
  }

  .ATT1_Approved_ATT2_Holliday{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #4de835 50%, #136571 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Approved_ATT2_NormalPunch{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #4de835 50%, rgba(0, 0, 0, 0) 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Approved_ATT2_UA{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #4de835 50%, #fe4543 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_UA_ATT2_Holliday{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #fe4543 50%, #136571 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_UA_ATT2_NormalPunch{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #fe4543 50%, rgba(0, 0, 0, 0) 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_UA_ATT2_Approved{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #fe4543 50%, #4de835 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_UA_ATT2_Pending{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #fe4543 50%, #e5da28 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_NomalPunch_ATT2_UA{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #fe4543 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Pending_ATT2_Holliday{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #e5da28 50%, #136571 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Pending_ATT2_NormalPunch{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #e5da28 50%, rgba(0, 0, 0, 0) 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Pending_ATT2_UA{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #e5da28 50%, #fe4543 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Pending_ATT2_Approved{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #e5da28 50%, #4de835 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Holliday_ATT2_Pending{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #136571 50%, #e5da28 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Holliday_ATT2_NormalPunch{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #136571 50%, rgba(0, 0, 0, 0) 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Holliday_ATT2_UA{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, #136571 50%, #fe4543 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_Holliday_ATT2_Approved{
     border-radius: 2px !important;
     width: 20px !important;
     display: block !important;
     margin: -6% auto !important;     line-height: 20px;
     padding: 0 !important;
     height: 20px !important;
     background: linear-gradient(to bottom, #136571 50%, #4de835 50%) !important;
     position: relative !important;
     z-index: 2 !important;
     font-size: 0.7em;
     p{
      //margin-top: 15%;
    }
  }

  .ATT1_NormalPunch_ATT2_Holliday{
     border-radius: 2px !important;
     width: 20px !important;
     display: block !important;
     margin: -6% auto !important;     line-height: 20px;
     padding: 0 !important;
     height: 20px !important;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #136571 50%) !important;
     position: relative !important;
     z-index: 2 !important;
     font-size: 0.7em;
     p{
      //margin-top: 15%;
    }
  }

  .ATT1_NomalPunch_ATT2_NormalPunch{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_NormalPunch_ATT2_UA{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #fe4543 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_NormalPunch_ATT2_Pending{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e5da28 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_NormalPunch_ATT2_Approved{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #4de835 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  .ATT1_NormalPunch_ATT2_Approved{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #4de835 50%) !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
    font-size: 0.7em;
    p{
      //margin-top: 15%;
    }
  }

  ion-calendar-month .danger .days .next-month-day, ion-calendar-month .danger .days .last-month-day{
    opacity: 0.65; 
    cursor: none;
    pointer-events: none;
  }



.Cur_ATT1_Approved_ATT2_Holliday{background: linear-gradient(to bottom, #4de835 50%, #136571 50%) !important; color: #fff !important;}
.Cur_ATT1_Approved_ATT2_NormalPunch{background: linear-gradient(to bottom, #4de835 50%, rgba(0, 0, 0, 0) 50%) !important; color:  rgb(0, 0, 0);}
.Cur_ATT1_Approved_ATT2_UA{background: linear-gradient(to bottom, #4de835 50%, #fe4543 50%) !important; color: #fff !important;}
.Cur_ATT1_Approved_ATT2_Pending{background: linear-gradient(to bottom, #4de835 50%,#e5da28 50%) !important; color: #fff !important;}
.Cur_ATT1_Approved_ATT2_Approved{background-color: #4de835 !important; color: #fff !important;}
.Cur_ATT1_UA_ATT2_Holliday{background: linear-gradient(to bottom, #fe4543 50%, #136571 50%) !important; color: #fff !important;}
.Cur_ATT1_UA_ATT2_NormalPunch{background: linear-gradient(to bottom, #fe4543 50%, rgba(0, 0, 0, 0) 50%) !important; color:  rgb(0, 0, 0);}
.Cur_ATT1_UA_ATT2_UA{background-color: #fe4543 !important; color: #fff !important;}
.Cur_ATT1_UA_ATT2_Approved{background: linear-gradient(to bottom, #fe4543 50%, #4de835 50%) !important; color: #fff !important;}
.Cur_ATT1_UA_ATT2_Pending{background: linear-gradient(to bottom, #fe4543 50%, #e5da28 50%) !important; color: #fff !important;}
.Cur_ATT1_Pending_ATT2_Pending{background-color: #e5da28 !important; color: #fff !important;}
.Cur_ATT1_Pending_ATT2_Holliday{background: linear-gradient(to bottom, #e5da28 50%, #136571 50%) !important; color: #fff !important;}
.Cur_ATT1_Pending_ATT2_NormalPunch{background: linear-gradient(to bottom, #e5da28 50%, rgba(0, 0, 0, 0) 50%) !important; color:  rgb(0, 0, 0);}
.Cur_ATT1_Pending_ATT2_UA{background: linear-gradient(to bottom, #e5da28 50%, #fe4543 50%) !important; color: #fff !important;}
.Cur_ATT1_Pending_ATT2_Approved{background: linear-gradient(to bottom, #e5da28 50%, #4de835 50%) !important; color: #fff !important;}
.Cur_ATT1_Holliday_ATT2_Pending{background: linear-gradient(to bottom, #136571 50%, #e5da28 50%) !important; color: #fff !important;}
.Cur_ATT1_Holliday_ATT2_Holliday, .Cur_HollydayClass{background-color: #136571 !important; color: #fff !important;}
.Cur_ATT1_Holliday_ATT2_NormalPunch{background: linear-gradient(to bottom, #136571 50%, rgba(0, 0, 0, 0) 50%) !important; color:  rgb(0, 0, 0);}
.Cur_ATT1_Holliday_ATT2_UA{background: linear-gradient(to bottom, #136571 50%, #fe4543 50%) !important; color: #fff !important;}
.Cur_ATT1_Holliday_ATT2_Approved{background: linear-gradient(to bottom, #136571 50%, #4de835 50%) !important; color: #fff !important;}
.Cur_ATT1_NormalPunch_ATT2_Holliday{background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #136571 50%) !important; color:  rgb(0, 0, 0);}
.Cur_ATT1_NomalPunch_ATT2_NormalPunch{background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%) !important; color:  rgb(0, 0, 0);}
.Cur_ATT1_NormalPunch_ATT2_UA{background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #fe4543 50%) !important; color: #fff !important;}
.Cur_ATT1_NormalPunch_ATT2_Pending{background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e5da28 50%) !important; color:  rgb(0, 0, 0);}
.Cur_ATT1_NormalPunch_ATT2_Approved{background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #4de835 50%) !important; color:  rgb(0, 0, 0);}
.Cur_{background-color: #0a3946 !important; color: #fff !important;}
.Cur_ATT1_NomalPunch_ATT2_UA{background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #fe4543 50%) !important; color: rgb(0, 0, 0);}

.item-md p{
  color: unset !important;
}
  ion-calendar-month .danger .days .on-selected{
    // border-radius: 2px !important;
    // width: 20px !important;
    // display: block !important;
    // margin-top: 15% !important;
    // line-height: 20px;
    // padding: 0 !important;
    // height: 20px !important;
    // position: relative !important;
    // z-index: 2 !important;
    // border: 1px solid #fff;
    // font-size: 0.7em !important;
    p{
      font-size: 1em !important;
    }
  }

  .ATT1_Pending_ATT2_Pending:hover, .ATT1_Approved_ATT2_Approved:hover,.ATT1_Approved_ATT2_Holliday:hover,.ATT1_Approved_ATT2_NormalPunch:hover,
  .ATT1_Approved_ATT2_Pending:hover, .ATT1_Approved_ATT2_UA:hover, .ATT1_Holliday_ATT2_Approved:hover, .ATT1_Holliday_ATT2_Holliday:hover,
  .ATT1_Holliday_ATT2_NormalPunch:hover, .ATT1_Holliday_ATT2_Pending:hover, .ATT1_Holliday_ATT2_UA:hover, .ATT1_NomalPunch_ATT2_NormalPunch:hover,
  .ATT1_NomalPunch_ATT2_UA:hover, .ATT1_NormalPunch_ATT2_Approved:hover, .ATT1_NormalPunch_ATT2_Holliday:hover, .ATT1_Pending_ATT2_NormalPunch:hover,
  .ATT1_NormalPunch_ATT2_UA:hover, .ATT1_Pending_ATT2_Approved:hover, .ATT1_Pending_ATT2_Holliday:hover, .ATT1_Pending_ATT2_NormalPunch:hover,
  .ATT1_NormalPunch_ATT2_UA:hover, .ATT1_Pending_ATT2_Approved:hover, .ATT1_Pending_ATT2_Holliday:hover, .ATT1_Pending_ATT2_NormalPunch:hover,
  .ATT1_Pending_ATT2_Pending:hover, .ATT1_Pending_ATT2_UA:hover, .ATT1_UA_ATT2_Approved:hover, .ATT1_UA_ATT2_Holliday:hover, .ATT1_UA_ATT2_NormalPunch:hover,
  .ATT1_UA_ATT2_Pending:hover, .ATT1_UA_ATT2_UA:hover, .todayClass:hover, .HollydayClass:hover{
    p{
      font-size: 1em !important;
      font-weight: bolder;
      border: 1px solid #fff;
      border-radius: 10%;
      width: 100%;
      height: 100%;
    }
  }

  ion-calendar-week .week-title.transparent{
    padding: 5px 0;
    height: 28px;
    color: #ffffff;
  }

  ion-calendar-week .week-toolbar.toolbar-md{
    min-height: 28px;
  }


  ion-calendar-month .danger .days .on-selected p{
    color: #fff;
    // margin-top: 22%;
  }


  ion-calendar-month ion-button.days-btn{
    width: 100%;
    display: block;
    padding: 0;
    height: 100%;
    position: relative;
    z-index: 2;
    font-size: 0.7em;
  p{
      color: #fff;
    }
  }

  ion-calendar-month .danger .days small{
    display: block;
    font-size: 0.5em;
    margin-top: 0%;
  }

  ion-calendar-month .days {
    width: 14%;
    float: left;
    text-align: center;
    height: 36px;
    margin-bottom: unset;
    border: 1px solid #134958;
}

  .todayClass{
    border-radius: 2px !important;
    width: 20px !important;
    display: block !important;
    margin: -6% auto !important;     line-height: 20px;
    padding: 0 !important;
    height: 20px !important;
    background-color: transparent;
    position: relative !important;
    z-index: 2 !important;
    font-size: 0.7em;
  }

  .grid{
    padding: unset;
  }

  pre{
    font-size: 0.8em !important;
    margin: 0.5% !important;
  }

  ion-thumbnail {
    min-width: 70px !important;
    min-height: 85px !important;
    // p {
    //   color: white !important;
    // }
  }

  .card{
    margin: unset;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 0.85rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .label-ios{
    margin:0% !important;
  }
  .item-ios ion-thumbnail[item-start]{
    margin: 1% 1% 1% 0% !important;
  }

  .clrBox{
    float: left;
    padding: 7%;
    margin: 0% 5%;
    border-radius: 10%;
  }
  .approved{
    color: #4de835;
  }
  .Unautharized{
    color: #fe4543;
  }
  .Normal{
    color: #ffffff;
  }
  .RequestRaised{
    color: #e5da28;
  }
  .HolidayWeekoff{
    color: #136571;
  }

  .approvedbg{
    background: #4de835;
  }
  .Unautharizedbg{
    background: #fe4543;
  }
  .Normalbg{
    background: transparent;
    border: 1px solid #000;
  }
  .RequestRaisedbg{
    background: #e5da28;
  }
  .HolidayWeekoffbg{
    background: #136571;
  }

  .clrBoxLabel{
    padding: 2% 0%;
    margin-top: 1%;
    font-size: 0.8em;
  }
  
  .list-md{
    margin: unset;
  }
  .item-md.item-block .item-inner{
    padding-right: unset;
  }
  .input-wrapper{
    display: unset;
  }
  .item-md ion-thumbnail[item-start] {
    margin: 0%;
    // background: #4de835
  }
  ion-list{
    .item{
      padding-left: 1%;
      border: 3px solid #10586B;
      border-radius: 6px;
      margin-top: 1%;
      .dateBox{
        border-radius: 6px;
        .currentDate{
          display: block;
          font-size: 1.4em;
          text-align: center;
          padding-top: 15%;
        }
        .currentMonth{
          display: block;
          font-size: 1.4em;
          text-align: center;
        }
        
      }
      ion-thumbnail{
        height: unset;
      }
      .label-md{
        margin: unset;
      }
      .label-time{
        font-size: 0.8em;
      }
      .label-bold{
        font-weight: bold;
      }
    }
    .col{
      padding: 1.3%;
    }
  }

  .attendance-btn-layout{
    box-shadow: unset !important;
    ion-col{
      //padding: 5%;
      text-align: -webkit-center !important;
      margin-top: 0%;
      button{
        font-size: 1.3em;
        line-height: 1.3em;
        opacity: 0.7;
        height: 6rem !important;
        width: 6rem !important;
        border-radius: 50% !important;
      }
    }
  }

  .clrBoxParent{
    background: #0a3946 !important;
    margin-top: -3% !important;
  }
}

ion-footer {
  height:3.5em !important; 
  text-align: center !important; 
  background-color:#135c6d !important;
  img {
      margin-top:2% !important;
  }
}

}

.my-class {
  .toolbar-background-md, .toolbar-background-ios, ion-calendar-week .week-title {
    background-color: #424242;
  }
  .month-box {
    background: #343434;
    border-bottom: none;
    h4 {
      color: #fff;
    }
    button.days-btn > p {
      color: #fff;
    }
  }
}
