page-alert-page-fortextarea {

    max-width: 90%;
    height: 15em !important;
    display: block !important;
    position: unset !important;
    margin: 30% auto; 

    .toolbar-md {
        padding: 4px;
        min-height: 65px;
    }

    .toolbar-title-md{
        color: #fff !important;
        text-align: center;
        font-weight: bolder;
        font-size: 1.2em;
    }

    ion-header{
        left: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        border-radius: 0 0 10px 10px;
        border: 0;
        background: #019F9E;
        color: white !important;
    }

    .header-md::after{
        background-image: unset !important;
    }

    .toolbar-background-md {
        border-color: unset !important;
        background: transparent !important;
    }

    ion-content{
       textarea{
        width: 100%;
        padding: 5%;
        border-radius: 10px;
        background: #F3F3F3;
        border: none;
       }

       .custom-btn{
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
        background: transparent;
        color: #019F9E;
        font-weight: bold;
        display: block;
        margin: 0 auto;
        font-size: 1.1em;
    }
    }

}

//Media query for iPhone-X
@media only screen and (min-height: 812px) and (min-width: 375px)  {
    
    page-alert-page-fortextarea {

        max-width: 85%;
        max-height: 60%;
        display: block !important;
        position: relative !important;
        margin: 35% auto; 

        .toolbar-background-ios{
            background: unset !important;
        }

        .toolbar-title-ios {
            color: white !important;
            text-align: left !important;
        }
        
        .toolbar-ios ion-title {
            padding: 0 10px 1px !important;
        }

        .toolbar-ios {
            padding: 4px !important;
            min-height: 65px;
            padding-top: unset !important;
        }

        ion-title {
            padding-top: unset !important;
        }

}
}

//Media query for iPhone 6+, 6s+, 7+, 8+
@media only screen and (min-height: 736px) and (min-width: 414px)  {
    
    page-alert-page-fortextarea {

        max-width: 85%;
        max-height: 60%;
        display: block !important;
        position: relative !important;
        margin: 35% auto; 

        .toolbar-background-ios{
            background: unset !important;
        }

        .toolbar-title-ios {
            color: white !important;
            text-align: left !important;
        }
        
        .toolbar-ios ion-title {
            padding: 0 10px 1px !important;
        }

        .toolbar-ios {
            padding: 4px !important;
            min-height: 65px;
            padding-top: unset !important;
        }

        ion-title {
            padding-top: unset !important;
        }

}
}

//Media query for iPhone 6, 6s, 7, 8
@media only screen and (min-height: 667px) and (min-width: 375px)  {
    
    page-alert-page-fortextarea {

        max-width: 85%;
        max-height: 60%;
        display: block !important;
        position: relative !important;
        margin: 35% auto; 

        .toolbar-background-ios{
            background: unset !important;
        }

        .toolbar-title-ios {
            color: white !important;
            text-align: left !important;
        }
        
        .toolbar-ios ion-title {
            padding: 0 10px 1px !important;
        }

        .toolbar-ios {
            padding: 4px !important;
            min-height: 65px;
            padding-top: unset !important;
        }

        ion-title {
            padding-top: unset !important;
        }

}
}


.app-root-ios {
    
page-alert-page-fortextarea {

    max-width: 85%;
    max-height: 60%;
    display: block !important;
    position: relative !important;
    margin: 35% auto; 

    .toolbar-background-ios{
        background: unset !important;
    }

    .toolbar-title-ios {
        color: white !important;
        text-align: left !important;
    }
    
    .toolbar-ios ion-title {
        padding: 0 10px 1px !important;
    }

    .toolbar-ios {
        padding: 4px !important;
        min-height: 65px;
        padding-top: unset !important;
    }

    ion-title {
        padding-top: unset !important;
    }

}


}


